<div class="small-10 small-centered columns">
<h3>Sign In With...</h3>
  <ul>
    <li><%= link_to('Google', '/auth/google_oauth2') %></li>
    <li><%= link_to('Facebook', 'auth/facebook') %></li>
    <li><%= link_to('Twitter', '#') %></li>
  </ul>
</div>
